#file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#file {
    width: 90%;
    max-height: 40vh ;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
}

#file {
    * {
        display: initial;
    }
}

#text-input {
    box-sizing: border-box;
    margin: 1rem 0;
    width: 90%;
    height: 40vh;
}

#synonyms-select {
    display: block;
}
