#control-panel {
    background-color: #fff;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#format-actions {
    display: flex;
    padding: 5px;
    align-items: center;

    div {
        display: flex;
    }
}

.clicked {
    background: darkgrey;
    color: white;
}

.format-action{
    padding: 0;
    margin-right: 5px;
    height: 25px;
    min-width: 25px;

    * {
        margin: 0;
        font-size: 15px;
    }
}